body {
    margin: 0;
    font-family: sans-serif;
    background-color: #20242d;
    color: white;
    scroll-behavior: smooth;
}


.header {
    width: 100%;
    height: 60px;

}

.header .logo-text {


    margin: 0;

}

.menu li {
    display: inline;
    padding: 10px 12px;
}
.menu li a{
   text-decoration: none;
   color: white
}

.menu li.active a{
    color: #01eefe;
    font-weight: 600;
}


.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}


.justify-content-between {
    justify-content: space-between
}

.w-80 {
    width: 80%;
}

.mx-auto {
    margin: 0 auto;
}


.banner-content .intro {

    font-size: 35px;
    margin-bottom: 10px;

}

.banner-content .name {

    font-size: 60px;
       margin-bottom: 10px;

}

.banner-content .designation {

    font-size: 35px;
       margin-bottom: 10px;

}

.banner-content .designation span {

    color: #01eefe
}

.banner-content .description {
    font-size: 20px;
}

.content {
    width: 80%;
    margin: 0 auto;

}

.m-0{
    margin: 0;
}

.mt-0{
    margin-top: 0;
}

.btn-social{
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #01eefe;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #01eefe;
    cursor: pointer;
}

.btn-social:hover{
    background-color: #fff;
}

.btn{
    padding: 10px 12px; 
    border-radius: 25px     ;
    border: none;
}
.btn-primay{
    background-color: #01eefe;
    color: black;
}

.btn-danger{
    background-color: red;
}
.mb-4{
    margin-bottom: 15px;
}

.bg-dark{
  background-color: rgb(50 56 70);
}


.text-primary{
    color: #01eefe;
}
.text-center{
    text-align: center;
}

.card{
    background-color:  rgb(50 56 70);;
}

.card .card-body{
    padding: 6px 8px;
}

.gap-2{
    margin: 0 15px;
}

.w-25{
    width: 25%;
}

.w-100{
    width: 100%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.w-50{
    width: 50%;
}

.d-none{
    display: none;
}

@media screen and (max-width: 480px) {
 /* .d-flex{
    display: block;
 } */
  .w-sm-100{
    width: 100%;
  }
.d-sm-none{
    display: none;
}
 
}